<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Medimate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/colors.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    {{> header }}
    {{{ body }}}
    {{> footer }}

    <!-- Scripts for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
      $(function() {
        $.getJSON( "medicine/today", function( data ) {
          let items = [];
          $.each( data, function( key, {
            dosage,
            medicineName,
            intakeInterval
          } ) {
            items.push(`
            <figure class="medicine col-lg-3 col-md-5 col-sm-6">
              <figcaption>
                <h4>${medicineName}</h4>
                <p>
                  Intake: ${intakeInterval} per day</br>
                  Dosage: ${dosage}
                </p>
              </figcaption>
            </figure>
            `);
          });
          $( "<div/>", {
            "class": "row mw-20",
            html: items.join( "" )
          }).appendTo( "#intake-display" );
        });
      });
    </script>
  </body>
</html>
