<div class="border-bottom border-gray-light">
  <div class="container text-center py-3 mb-4">
    <img src="img/medimate-mid.png" id="top-img" />
    <div class="mb-4 mt-2">
      <h1 class="h1 mb-0">Your Health Companion</h1>
      <h2 class="h4 text-gray font-weight-light">Daily Medicine Intake Reminder</h2>
    </div>
    <a class="btn btn-primary mt-2" href="/insert-prescription"> Insert Prescription </a>
  </div>
</div>

<div class="content text-center py-2">
  <div id="intake-display">
    <h3>Today Intake</h3>
  </div>
</div>
